@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,300);

h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
    background-color: #f3f3ee;
    color: #333;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.beersDetail {
    margin-bottom: 80px;
}

.beersDetail img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.detail-img {
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-radius: 4px;
}

.beersDetail .btn {
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.beersDetail h4:last-of-type, .featured h4 {
    text-align: center;
}

.beersDetail h4 {
    text-align: center;    
}

p.itemDesc {
    height: 120px;
    margin-top: 30px;
}

.beersDetail h4:first-of-type {
    height: 40px;
}

footer p {
    text-align: center;
    font-weight: bold;
}

.page-topper {
    font-size: 40px;
    text-align: center;
}

.navbar-default {
    color: #333 !important;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    border-bottom: 1px solid #ccc;
}

.jumbotron {
    text-align: center;
    background: 
    linear-gradient(
      rgba(0, 0, 0, 0.2), 
      rgba(0, 0, 0, 0.4)
    ),url(../Images/beer-masthead.jpg);
     box-shadow: 0 0 10px rgba(0,0,0,0.2);
     margin-bottom: 75px;
}

.jumbotron img {
    width: 700px;
    height: auto;
    margin-top: 50px;
    margin-bottom: 50px;
}

.col-centered {
    float: none;
    margin: 0 auto;
}