@import url(http://fonts.googleapis.com/css?family=Arvo:400,700);
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,300);

h1, h2, h3, h4, h5, h6 {
    font-family: 'Avro', serif;
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 30px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.beersDetail {
    margin-bottom: 15px;
}

.beersDetail img {
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.beersDetail .btn.btn-default {
    display: block;
    width: 120px;
    margin-left: auto;
    margin-right: auto;
}

.beersDetail h4:last-of-type, .featured h4 {
    text-align: center;
}

p.itemDesc {
    height: 140px;
    margin-top: 30px;
}

.beersDetail h4:first-of-type {
    height: 40px;
}

footer p {
    text-align: center;
    font-weight: bold;
}