@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Order Confirmation</h3>
    </div>
    <div class="panel-body">
        <h2>Order Completed</h2>
        <p>Your order has been completed. Thanks for shopping with us.</p>
        <a href="~/Home/" class="btn btn-default">Return to Home</a>
    </div>
</div>

