@{
    ViewBag.Title = "Contact us";
}
<h2 class="page-topper">@ViewBag.Title</h2>

<address>
    456 Hops Avenue<br />
    Orillia, ON - L3V 3K3<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="support@brewhound.xyz">support@brewhound.xyz</a><br />
    <strong>Marketing:</strong> <a href="marketing@brewhound.xyz">marketing@brewhound.xyz</a>
</address>