@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Images/logo.png" />
</div>

<h2 class="page-topper">Beers of the Week</h2>
<hr />

<div class="row featured">
    
    <div class="col-md-4 beersDetail">
        <h4>La Fin Du Monde</h4>
        <img height="200" src="~/Images/UnibroueLaFinDuMonde.jpg" />
        <h4><strong>$10.45</strong></h4>
        <p><a class="btn btn-danger" href="/Beers/Details/16">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 beersDetail">
        <h4>Flying Monkeys The Chocolate Manifesto</h4>
        <img height="200" src="~/Images/FlyingMonkeyChocolate.jpg" />
        <h4><strong>$11.95</strong></h4>
        <p><a class="btn btn-danger" href="/Beers/Details/2">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 beersDetail">
        <h4>Beau's Lug Tread Lagered Ale</h4>
        <img height="200" src="~/Images/BeausLugTread.jpg" />
        <h4><strong>$16.35</strong></h4>
        <p><a class="btn btn-danger" href="/Beers/Details/3">Learn more &raquo;</a></p>
    </div>
</div>