@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <img src="~/Images/logo.png" />
</div>

<div class="row featured">
    <h2>Featured:</h2>
    <div class="col-md-4 beersDetail">
        <h4>La Fin Du Monde</h4>
        <img height="200" src="~/Images/UnibroueLaFinDuMonde.jpg" />
        <h4><strong>$10.45</strong></h4>
        <p><a class="btn btn-default" href="/Beers/Details/19">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 beersDetail">
        <h4>Flying Monkeys The Chocolate Manifestoe</h4>
        <img height="200" src="~/Images/FlyingMonkeyChocolate.jpg" />
        <h4><strong>$11.95</strong></h4>
        <p><a class="btn btn-default" href="/Beers/Details/5">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4 beersDetail">
        <h4>Beau's Lug Tread Lagered Ale</h4>
        <img height="200" src="~/Images/BeausLugTread.jpg" />
        <h4><strong>$16.35</strong></h4>
        <p><a class="btn btn-default" href="/Beers/Details/19">Learn more &raquo;</a></p>
    </div>
</div>